section#main h2#board_title{border-bottom: 1px solid #bbb; margin-top:20px; padding-bottom:5px}
section#main #view_title_box{border-top: 2px solid #aaa;background-color:#eee ; padding: 10px ; margin-top: 10px}
section#main #view_title_box #info{margin-left: 250px}
section#main #view_title_box #boardTitle{font-size: 13px; color: #000}
section#main #view_content{line-height: 150%;padding: 10px }
section#main #comment_box{height: 115px;background-color:#efefef; border-top: 1px solid #ccc; position: relative}
section#main #comment_box textarea{width: 515px; height: 80px; position: absolute; left: 150px;top:15px}
section#main #comment_box #title_comment{position: absolute;top: 15px;left: 15px;}
section#main #comment_box #ok_ripple{position: absolute; right:10px;top:15px}
section#main #buttons{text-align: right; margin: 20px 10px 0 0}
