aside{float: left; width: 195px}
aside #login_box{width: 186px; height: 120px; border: 1px solid #ddd;border-radius: 10px; background-color: #f3f3f3}
aside #login_input{float: left}
aside #login_input input{width: 100px; height: 20px; border: 1px solid #ddd;margin-bottom: 2px}
aside #login_title{margin: 10px 0 0 10px}
aside #input_button{margin: 10px 0 0 10px}
aside #login_btn{margin: 0px 0 0 5px}
aside #join_search {margin: 7px 0 0 5px}
aside #guestbook{width: 190px;height: 135px; border: 1px solid #ccc; border-radius: 10px;margin-top: 15px;background: #eee;box-shadow: 2px 2px 5px #ddd}
aside #guestbook li{margin-top: 5px; list-style-image:url('../image/icon_blue.gif'); }
aside #guestbook ul{margin: 10px 0 0 40px}
aside #guestbook_title{width: 165px;border-bottom: 1px solid #ccc;padding: 10px 0 0 5px; margin: 0 0 0 8px}

section#main{width: 758px;float: right}
section#main #notice_free_youtube{height: 250px; position: relative;margin-top: 10px}
section#main #notice {width: 360px; position: absolute}
section#main .latest_title{border-bottom: 1px solid #ccc; padding: 3px}
section#main .latest_img{float: left}
section#main .more{float: right}
section#main .image{float: left; margin: 10px 0 0 20px}
section#main .list{float: right;padding-top: 8px}
section#main .list li{line-height: 22px}
section#main .list .subject{float: left}
section#main .list .date{float: right}
section#main .subject{width: 170px}

section#main #freeBoard{width: 360px;position: absolute; top:120px}
section#main #youtube{position: absolute; right: 0; width: 365px; height: 250px}
section#main #youtube_img{margin: 10px 0 0 45px}
section#main #gallery_box{width: 750px; height: 210px; border: 1px solid #ccc; border-radius: 10px; box-shadow: 2px 2px 5px #ddd;margin: 10px 0 0 5px}
section#main .items {float: left; margin-left: 35px;text-align: center}
section#main #gallery_list{padding: 25px 0 0 30px}
section#main .items li{margin-top: 5px}



